<!DOCTYPE html>
<html>
<head>
	<title>المكتبة الإلكترونية</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div class="header">
	<div class="row">
	  <img class="col_header1" src="img/h_img1.png">
	  <img class="col_header2" src="img/h_img2.png">
	  <div class="col_header3">
		<p>جمهورية مصر العربية</p>
		<p>الهيئة العامة لتنمية الثروة السمكية</p>
	  </div>
	  <img class="col_header4" src="img/h_img3.png">
	</div>
</div>

<div class="row main">
  <div class="leftcolumn">
	<div class="card card-menu">
		<div class="row-menu">
		  <a href="login.html">
			<div class="col-menu col-menu-all">تسجيل الدخول</div>
		  </a>
		  <a href="contact_us.html">
			<div class="col-menu col-menu-all">اتصل بنا</div>
		  </a>
		  <a href="services.html">
			<div class="col-menu col-menu-all">خدماتنا</div>
		  </a>
		  <a href="e_library.html">
			<div class="col-menu col-menu-all">المكتبة الإلكترونية</div>
		  </a>
		  <a href="index.html">
			<div class="col-menu col-menu-last">الرئيسية</div>
		  </a>
		</div>
	</div>
	<div class="card card-map">
		<div id="img-div" class="e-library-img">
			<img src="img/e-library.png" height="450px;" width="900px;" style="margin-top: 30px;">
		</div>
		<div id="fish-types" class="fish-types-div">
				<span class="fish-types-span">
					<h1 class="fish-types-h1">تصنيف الأسماك</h1>
					 <p class="fish-types-intro">يُقسّم علماء الأحياء أنواع السمك إلى فئتين أساسيَّتين، هما الأسماك العظميّة والغضروفيّة.</p>
					<ol class="fish-types-ol">
						<li class="fish-types-li">الأسماك الغضروفية</li>
							<p class="fish-types-p">تختلفُ الأسماك الغضروفية عن غيرها من الأنواع بأنَّ جسمها لا يحتوي هيكلاً عظمياً حقيقياً، بل هو -في الواقع- مُكوّنٌ من غضاريف طريّة تدعمُ شكل جسمها وأعضائها الداخليّة، ومع أنها تتنفَّسُ بالخياشيم ولكن فتحات الخياشيم لديها مكشوفةٌ تماماً وليست لها أيّ حماية، كما أنها تحتاجُ إلى الاستمرار بالحركة حفاظاً على نفسها عائمةً في الماء، وتعيشُ هذه الأسماك عادةً في مياه البحار والمُحيطات، وهي تشملُ جميع أنواع أسماك القرش والشَّفانين وأقاربها، وأنواع الأسماك الغضروفيّة قليلة نسبياً، وهي تتميَّزُ بأنها لا تضعُ إلا أعداداً قليلة من البيوض عند التكاثر، وأحياناً -كما في بعض أسماك القرش- تلدُ صغارها أحياء.</p>
						<li class="fish-types-li">الأسماك العظميّة</li>
							<p class="fish-types-p"> أما الأسماك العظميّة فإنَّ جسمها مُكوَّنٌ بالكامل من عظام صُلبة، وتغطّي جلدها حراشف متراكبة فوق بعضها، ولديها فوق خياشيمها غلافٌ واقٍ صُلْب يحميها من الأذى، كما أنَّ في أجسامها عضواً خاصاً يُشبه كيساً مملوءاً بالهواء، ويُساعدها على البقاء طافية في مياه البحر، حتى ولو كانت ساكنةً تماماً، وأنواع الأسماك العظميّة كثيرة جداً، وهي تضمّ جميع أنواع الأسماك في العالم تقريباً، فمنها ما يعيشُ في المياه العذبة من أنهارٍ وبحيرات، ومنها ما يسكن البحار الضحلة أو أعماقَ المُحيط، إلا أنّ أغلبها تسكنُ في أماكن قريبةً من سطح الماء، ومعظمها تتغذّى على النباتات والطحالب والعوالق، ولكن بعضها مُفترسة تأكل اللحوم، وتعتمدُ الأسماك العظميَّة في التكاثر على وضع أعدادٍ هائلة من البيوض قد تصلُ للآلاف، ومن ثمَّ تتركُها وترحلُ دون توفير أيّ نوعٍ من الحماية أو الرعاية لصغارها.</p>
					</ol>
				</span>
			</div>
			
			<div id="fish-types-Bolty" class="fish-types-div">
				<span class="fish-types-span">
					<h5 class="fish-types-h5">البلطي النيلي</h5>
					<p class="fish-types-p">سمكة قارية تفضل العيش في المياه الضحلة. ودرجتا تحمل الحرارة العليا والدنيا هما 42 oم و 11-12 oم، على الترتيب، بينما المدى الحراري المفضل هو 31-36 o م والبلطي النيلي سمكه متنوعة التغذية تتغذى على الفيتوبلانكتون، البريفيتون، النباتات المائية، اللافقاريات الصغيرة، الكائنات الحيوانية القاعية، البقايا العضوية وتجمعات البكتريا المصاحبة لها. ويمكن للبلطي النيلي ترشيح الطعام من خلال حجز المواد العالقة بما في ذلك الفيتوبلانكتون والبكتريا في التجويف البلعومى، إلا أن وسيلة التغذية الرئيسية هى الرعي على طبقة البريفيتون. ويصل البلطي النيلي للنضوج الجنسي في الأحواض عند عمر يتراوح بين 5-6 شهور.</p>
					<p class="fish-types-p">تضع الأنثى البالغ وزنها 100 جم حوالى 100 بيضة في الفقسة (البطن) الواحدة، بينما الأنثى التي تزن 600 - 1000 جم يمكن أن يصل عدد البيض الذي تضعه 1000 - 1500 بيضة. ويظل الذكر في موقع العش لحمايته وحماية منطقة النفوذ، وبذلك يمكنه تخصيب بيض عدد متوالى من الإناث. وإناث البلطي النيلي تصوم أثناء تحضين البيض واليرقات. ويمكن للبلطي النيلي أن يعيش لعمر 10 سنوات وقد يصل وزنه إلى أكثر من خمسة كجم.</p>
				</span>
			</div>
			
			<div id="fish-types-Bayad" class="fish-types-div">
				<span class="fish-types-span">
					<h5 class="fish-types-h5">سمك البياض</h5>
					<p class="fish-types-p">هو جنس من الأسماك ينتمي إلى رتبة السلوريات أو القراميط، وفصيلة البياضيات، وهي أسماك تعيش في المياه العذبة في كل من أفريقيا الاستوائية وآسيا، وتتميز بعيون صغيرة، وزعنفة ظهرية كبيرة، وبوجود أربعة شوارب أو زوائد حسية حول الفم، وتتميز أسماك البياض بقيمتها الغذائية العالية وفوائدها العديدة للجسم.</p>
					<p class="fish-types-p">تتواجد في البحيرات و المستنقعات و الأنهار و تتحاشى المياه المالحة تقضي تقريبا النهار بكامله في شقوق بين الحجارة و لذلك قلما تشاهد بالعين وتأكل الحشائش أحيانا و تفترس الأسماك الصغيرة و خاصة البلطيات ( بفصائلها المختلفة ), كما تتغذى على الحشرات و القشريات و القوقعيات و المواد الخضرية وضع البيض يتم من شهر إبريل إلى شهر يوليو حينها يبنيان عشا يشبه القرص المفلطح و في وسطه ثقب مركزي فيه يتم وضع البيض و يتناوبان حراسته و القرص و ثقبه المركزي يتناسب طرديا مع حجم السمكة يزيد بزيادته و يقل بقلتهيعيش الذكر حتى سبعة سنوات و الأنثى تبلغ الثمانيةمتوسط حجم و وزن الذكر يقلان عن متوسط حجم و وزن الأنثى في نفس السن تعتبر سمكة غذائية هامة و لها أهمية إقتصادية كبيرة شائع بيعها كسمكة طعام للإنسان.</p>
					<h5 class="fish-types-h5">أنواع سمك البياض</h5>
					<p class="fish-types-p">يضمّ جنس سمك البياض 10 أنواع مختلفة من السمك، وهي:</p>
					<ul class="fish-bayad-ul">
							<li>البياض الأفريقي</li>
							<li>الدقماق</li>
							<li>السلور الصومالي</li>
							<li>سمك كامبانغو </li>
							<li>باغروس كيروليوس</li>
							<li>باغروس ديجيني </li>
							<li>باغروس فيلامينتوس</li>
							<li>باغروس لوبوسيكوس </li>
							<li>باغروس أورينتاليس </li>
							<li>باغروس أوبانغينسيس </li>
					</ul>
				</span>
			</div>
	</div>
  </div>
	<div class="rightcolumn">
			<div class="card card-search">
				<button class="search-icon" type="submit"><i></i></button>
				<input type="text" placeholder="ابحث بكلمة|ابحث عن الفرص" name="search">
				<button class="search-button">البحث</button>
			</div>
			<div class="card card-adv-search">
				<div class="fast-search"><a href="#" class="fast-search-link">بحث سريع</a></div>
				<div class="reset">
					<button class="search-icon" type="submit"><i></i></button>
					<span class="search-span">بحث متقدم</span>
					<a href="#" class="fast-search-link">إعادة ظبط</a>
				</div>
			</div>
			<div class="card card-toc">
				<div class="e-library-header">المكتبة الإلكترونية</div>
				<div class="e-library-toc">
					<div id="fishTyps" class="e-library-table">
						<span id="fishTypesCollaps" class="collaps">أنواع الأسماك</span>
						<div style="float: right;">
						<ul id="fishTypesUl" class="fish-types-ul">
							<li><span id="fish-bolty" class="collaps">بلطي نيلي</span></li>
							<li><span id="fish-bayad" class="collaps">بياض</span></li>
							<li><span class="collaps">بوري</span></li>
							<li><span class="collaps">دنيس</span></li>
							<li><span class="collaps">لوط</span></li>
							<li><span class="collaps">سردين</span></li>
							<li><span class="collaps">مرجان</span></li>
							<li><span class="collaps">بربوني</span></li>
							<li><span class="collaps">مكرونة</span></li>
						</ul></div>
					</div>
					<div class="e-library-table">
						<span id="fishTypesCollaps" class="collaps">أمراض الأسماك</span>
					</div>
					<div class="e-library-table">
						<span id="fishTypesCollaps" class="collaps">الاستزراع</span>
					</div>
					<div class="e-library-table">
						<span id="fishTypesCollaps" class="collaps">مؤشرات جودة المياه</span>
					</div>
					<div class="e-library-table">
						<span id="fishTypesCollaps" class="collaps">مؤشرات جودة التربة</span>
					</div>
				</div>
			</div>
	</div>
</div>
<script>
	var collaps = false;
	var boltyCollaps = false;
	var bayadCollaps = false;
	var fishTypesCollaps = document.getElementById("fishTypesCollaps");
	fishTypesCollaps.addEventListener("click", function() {
		if(!collaps){
			document.getElementById("fishTypesCollaps").classList.toggle("active");
			document.getElementById("img-div").style.display = "none";
			document.getElementById("fish-types").style.display = "block";
			document.getElementById("fishTyps").style.height = "100%";
			document.getElementById("fishTypesUl").style.display = "block";
			collaps = true;
		}
		else{
			document.getElementById("fishTypesCollaps").classList.toggle("active");
			document.getElementById("fish-types").style.display = "none";
			document.getElementById("img-div").style.display = "block";
			document.getElementById("fishTyps").style.height = "20%";
			document.getElementById("fishTypesUl").style.display = "none";
			collaps = false;
		}
	});
	
	var fishBolty = document.getElementById("fish-bolty");
	fishBolty.addEventListener("click", function() {
		if(!boltyCollaps){
			document.getElementById("fish-bolty").classList.toggle("active");
			document.getElementById("fish-types").style.display = "none";
			document.getElementById("fish-types-Bolty").style.display = "block";
			boltyCollaps = true;
		}
		else{
			document.getElementById("fish-bolty").classList.toggle("active");
			document.getElementById("fish-types").style.display = "block";
			document.getElementById("fish-types-Bolty").style.display = "none";
			boltyCollaps = false;
		}
	});
	
	var fishBayad = document.getElementById("fish-bayad");
	fishBayad.addEventListener("click", function() {
		if(!bayadCollaps){
			document.getElementById("fish-bolty").classList.toggle("active");
			document.getElementById("fish-bayad").classList.toggle("active");
			document.getElementById("fish-types-Bolty").style.display = "none";
			document.getElementById("fish-types").style.display = "none";
			document.getElementById("fish-types-Bayad").style.display = "block";
			bayadCollaps = true;
		}
		else{
			document.getElementById("fish-bolty").classList.toggle("active");
			document.getElementById("fish-bayad").classList.toggle("active");
			document.getElementById("fish-types-Bolty").style.display = "block";
			document.getElementById("fish-types-Bayad").style.display = "none";
			bayadCollaps = false;
		}
	});
</script>
</body>
</html>