<!DOCTYPE html>
<html>
<head>
    <title>الرئيسية</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
	<script src="https://unpkg.com/shp-write@latest/shpwrite.js"></script>
	{% load static %}
	<script src="{% static 'js/shpwrite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">
    <div class="row">
        {% load static %}
        <img class="col_header1" src="{% static 'img/h_img1.png' %}">
        <img class="col_header2" src="{% static 'img/h_img2.png' %}">
        <div class="col_header3">
            <p>جمهورية مصر العربية</p>
            <p>الهيئة العامة لتنمية الثروة السمكية</p>
        </div>
        <img class="col_header4" src="{% static 'img/h_img3.png' %}">
    </div>
</div>

<div class="row main">
    <div class="leftcolumn">
        <div class="card card-menu">
            <div class="row-menu">
                <a href="{% url 'login' %}">
                    <div class="col-menu col-menu-all">تسجيل الدخول</div>
                </a>
                <a href="{% url 'contactus' %}">
                    <div class="col-menu col-menu-all">اتصل بنا</div>
                </a>
                <a href="{% url 'services' %}">
                    <div class="col-menu col-menu-all">خدماتنا</div>
                </a>
                <a href="{% url 'elibrary' %}">
                    <div class="col-menu col-menu-all">المكتبة الإلكترونية</div>
                </a>
                <a href="{% url 'index' %}">
                    <div class="col-menu col-menu-last">الرئيسية</div>
                </a>
            </div>
        </div>
        <div class="card card-map">
            <div id="mapid" style="position: relative; height:100%; width:100%; z-index:1000"></div>
            <div id="toolbar"
                 style="position: relative; left: 5px; bottom: 1px; top: -40px;  z-index:2000; border: 1px solid black; width:250px; height: 35px; display: block; ">
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='showHand()'><img src="{% static 'img/hand.png' %}" width="31px"/></a></div>
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='zoomToExtent()'><img src="{% static 'img/lookup.png' %}" width="31px"/></a></div>
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='zoomOutDraw()'><img src="{% static 'img/zoomout.png' %}" width="33px"/></a></div>
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='zoomInDraw()'><img src="{% static 'img/zoomin.png' %}" width="31px"/></a></div>
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='zoomOut()'><img src="{% static 'img/initialextent.png' %}" width="34px"/></a></div>
                <div style="border-right: 1px solid black; width: 35px; float: left; height: 100%; cursor: pointer;"><a
                        onclick='zoomIn()'><img src="{% static 'img/fullextent.png' %}" width="31px"/></a></div>
                <div style="width: 35px; float: left; height: 100%; cursor: pointer;"><a onclick='edit()'><img
                        src="{% static 'img/draw.png' %}" width="38px"/></a>
                    <div leaflet style="height: 0px;" [leafletOptions]="options">
                        <div *ngIf="shown" leafletDraw [leafletDrawOptions]="drawOptions"></div>
                    </div>
                </div>
            </div>
            <div id="legend_div" style="position: relative; float: right; top: -210px;  z-index:2000; width:205px; height: 150px; display: block; ">
                <img id="legend_img_src" src="" alt="" width="200px;"/>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card card-search">
            <button class="search-icon" type="submit"><i></i></button>
            <input type="text" placeholder="ابحث بكلمة|ابحث عن الفرص" name="search">
            <button class="search-button">البحث</button>
        </div>
        <div class="card card-adv-search">
            <div class="fast-search"><a href="#" class="fast-search-link">بحث سريع</a></div>
            <div class="reset">
                <button class="search-icon" type="submit"><i></i></button>
                <span class="search-span">بحث متقدم</span>
                <a href="#" class="fast-search-link">إعادة ضبط</a>
            </div>
        </div>
        <div id="parameters_div" class="card card-toc">
            <table dir="rtl">
                <tr>
                    <select class='select-dropdown'>
                        <option value="-1">تحديد المكان</option>
                        <option value="1">إدخال من الخريطة</option>
                        <option value="2">تحميل shapefile</option>
                    </select>
                </tr>
                <tr>
                    <select class='select-dropdown'>
                        <option value="-1">تحديد نوع السمك</option>
                        <option value="1">بلطي</option>
                        <option value="2">بوري</option>
                        <option value="3">دنيس</option>
                        <option value="4">لوط</option>
                    </select>
                </tr>
                <tr>
                    <select class='select-dropdown'>
                        <option value="-1">تحديد مصدر المياه</option>
                        <option value="1">بحار</option>
                        <option value="2">بحيرات</option>
                        <option value="3">ترع ومصارف</option>
                        <option value="4">مياه جوفية</option>
                        <option value="5">نهر النيل</option>
                    </select>
                </tr>
            </table>

            <table class="index-table" dir="rtl">
                <tr>
                    <select class='select-dropdown'>
                        <option value="-1">تحديد مؤشرات جودة المياه</option>
                    </select>
                </tr>
                <tr>
                    <td class='quality-lbl'>pH</td>
                    <td>
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange1">
                    </td>

                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td class='quality-lbl'>Salinity</td>
                    <td>
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange2">
                    </td>

                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                <tr>
                    <td class='quality-lbl'>DO</td>
                    <td>
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange3">
                    </td>

                </tr>
            </table>
            <button class="button" onclick="display_results();">عرض النتائج</button>
        </div>
        <div id="dialog" style="display: none"></div>
        <div id="results_div" class="results">
            <h2 style="padding-right: 40%;">نتائج البحث</h2>
            <!-- <input name="result_checkbox" type="checkbox" onclick="checkbox_status('FinalSuitabilityMapModelReclassify')"
                   id="FinalSuitabilityMapModelReclassify"/><label style="float: left;">Final Suitability Map Model
            Reclassify</label><br/>
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('FinalSuitabilityMapModel')" id="FinalSuitabilityMapModel"/><label
                style="float: left;">Final Suitability Map Model</label><br/> -->
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('FinalSuitabilityModel')" id="FinalSuitabilityModel"/><label
                style="float: left;">Final Suitability Model</label><br/>
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('SoilSubModel')" id="SoilSubModel"/><label
                style="float: left;">Soil Sub-Model</label><br/>
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('SocioEconomic')" id="SocioEconomic"/><label
                style="float: left;">Socio Economic</label><br/>
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('WaterAvailabilitySubModel')"
                   id="WaterAvailabilitySubModel"/><label style="float: left;">Water Availability Sub-Model</label><br/>
            <input name="result_checkbox" type="checkbox" onclick="checkbox_status('FinalRestrictionModel')" id="FinalRestrictionModel"/><label
                style="float: left;">Final Restriction Model</label><br/>
            <table id="polyTree">
                <tr>
                    <!--<th>
                        <input name="pol_view_checkbox" type="checkbox" id="pol_view_checkbox"/>
                    </th>-->
                    <th>
                        Polygon Name
                    </th>
                    <th>
                        <button class="btn-action" onclick="convert_csv()"><i class="fa fa-download"></i> CSV</button>
                        <button class="btn-action" onclick="convert_shp()"><i class="fa fa-download"></i> SHP</button>
                    </th>
                </tr>
            </table>
            <button style="padding-right: 20%; float: left; padding-left: 20%;" class="button" onclick="hide_results();">رجوع</button>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).on({
    ajaxStart: function() { $("body").addClass("loading");},
    ajaxStop: function() { $("body").removeClass("loading");}
});
</script>
<script>
    var polyIndex = 1;
	var polygonCoordinates = "";
	var firstClick = false;
	var temp = "";
	var drawControlCreated = false;
	var zoomInByDraw = false;
	var zoomOutByDraw = false;
	var bounds;
	var mapUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
	var image;
	var listOfImages = [];
	var listOfLegendImages = [];
	var data;
	var convertedData;
	var shpdata;

	var left = 0.0;
	var right = 100.0;
	var top = 100.0;
	var bottom = 0.0;
	var all_lat = [];
	var all_lon = [];

    var name = "";
	var curSelectedLayer = "";

	var satellite = L.tileLayer(mapUrl, {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/satellite-v9',
		tileSize: 512,
		zoomOffset: -1
	});

	var streets = L.tileLayer(mapUrl, {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	});

	var map = L.map('mapid', {
		center: [27.3, 30.8],
		zoom: 6,
		zoomSnap: 0.25,
		layers: [satellite]
	});

	var baseLayers = {
		"Satellite View": satellite,
		"Map View": streets,
	};

	var editableLayers = new L.FeatureGroup();
	var shapeLayers = new L.FeatureGroup();
	map.addLayer(editableLayers);
	var overlayMaps = {
		"الطبقات المضافة": editableLayers
	};
	var layerControl = L.control.layers(baseLayers, overlayMaps).addTo(map);
	var drawPluginOptions = {
	  position: 'topleft',
	  draw: {
		polyline: false,
		polygon: {
		  allowIntersection: false, // Restricts shapes to simple polygons
		  drawError: {
			color: '#e1e100', // Color the shape will turn when intersects
			message: '<strong>Polygon draw does not allow intersections!<strong> (allowIntersection: false)' // Message that will show when intersect
		  },
		  shapeOptions: {
			color: '#ff2222'
		  }
		},
		circle: false, // Turns off this drawing tool
		rectangle: false,
		marker: false,
		circlemarker: false
	},
	edit: {
		featureGroup: editableLayers, //REQUIRED!!
		remove: true
	  }};

 var latlng1;
 var latlng2;

map.on('click', function (e) {
	if(zoomInByDraw)
		map.zoomIn(0.25, {animate:false});
	if(zoomOutByDraw)
		map.zoomOut(0.25, {animate:false});
});

function zoomToExtent(){
	map.setView([27.3, 30.8], 6);
}

function zoomOutDraw(){
	zoomOutByDraw = true;
	zoomInByDraw = false;
    L.DomUtil.addClass(map._container,'crosshair-cursor-enabled');
}

function zoomInDraw(){
	zoomOutByDraw = false;
	zoomInByDraw = true;
    L.DomUtil.addClass(map._container,'crosshair-cursor-enabled');
}

function zoomIn(){
    map.zoomIn(1.25);
}

function zoomOut(){
    map.zoomOut(1.25);
}

function showHand(){
    L.DomUtil.removeClass(map._container,'crosshair-cursor-enabled');
	map.dragging.enable();
	zoomOutByDraw = false;
	zoomInByDraw = false;
}

function edit(){
	if(drawControlCreated)
	{
		this.map.removeControl(this.drawControl);
		drawControlCreated = false;
	}

	else{

		drawControl = new L.Control.Draw(drawPluginOptions);
		map.addControl(drawControl);
		map.on(L.Draw.Event.CREATED, function(e) {
		  var type = e.layerType,
			layer = e.layer,
			layerID = layer._leaflet_id;
			console.log("Current layerID: " + Object.values(e));
			var today = new Date();
            var day = today.getDay();
            var date = today.getFullYear()+""+(today.getMonth()+1)+""+today.getDate();
            var time = today.getHours()+""+today.getMinutes()+""+today.getSeconds();
            var dateTime = date+time;
            name = "Poly" + polyIndex + "_" + dateTime;
            //name = type + polyIndex + "_" + dateTime;
            //name = type + "_" + polyIndex;
            polyIndex += 1;
			curSelectedLayer = name;
			layer.on('mouseover', function () {
				  this.setStyle({
					'fillColor': '#0000ff',
					'fillOpacity': 0.5,
				  });
				});
				layer.on('mouseout', function () {
				  this.setStyle({
					'fillColor': '#ff2222'
				  });
				});
			/*feature = layer.feature = layer.feature || {};
			feature.type = feature.type || "Feature";*/
			var tempArray = layer._latlngs[0];
		  if (type === 'polygon') {
			polygonCoordinates +="["
			for(var i=0; i<tempArray.length; i++)
			{
			    all_lat.push(tempArray[i].lat);
			    all_lon.push(tempArray[i].lng);
				temp += "[" + tempArray[i].lat+","+tempArray[i].lng + "]";
				if(i === tempArray.length - 1)
					break;
				else
					temp +=",";
			}
			polygonCoordinates +=temp + "]";
		}
		  editableLayers.addLayer(layer);
		  //shapeLayers = new L.FeatureGroup().addLayer(layer);
          shapeLayers.addLayer(layer);
		    clip_by_polygon();
		    tempArray = null;
			temp = "";
			//var imageLegendUrl = "http://127.0.0.1:8000/static/polygons/"+name+"-legend.jpg";
			var imageLegendUrl = "../static/polygons/"+name+"-legend.jpg";
			var popupContent = '<h3>'+ name + '</h3><span>0</span><img width="100px" height="30px" src="'+imageLegendUrl+'"><span>100</span>';
		    layer.bindPopup(popupContent);
			polygonCoordinates = "";
		  //data = layer.toGeoJSON();
		  //shapeLayers = new L.FeatureGroup().addLayer(layer)
		  //polygonCoordinates = "";
		});

		map.on(L.Draw.Event.EDITED, function (e) {
				var layers = e.layers;
				var countOfEditedLayers = 0;
				layers.eachLayer(function(layer) {
					countOfEditedLayers++;
				});
				console.log("Edited " + countOfEditedLayers + " layers");
			});

		map.on('draw:deleted', function(e){

			tempArray = null;
			temp = "";
			polygonCoordinates = "";
			console.log(tempArray);
			console.log(polygonCoordinates);
		});
		drawControlCreated = true;
	}
}

function getCheckedList()
{
    var checkedList = [];
    var table = document.getElementById("polyTree");
    for (var i = 1, row; row = table.rows[i]; i++) {
       console.log("CheckBox: " + row.cells[1].children[0].checked);
       checkedList[i-1] = row.cells[1].children[0].checked; //Checkbox Element
    }
    return checkedList;
}

function convert_csv()
{
     var checkedList = getCheckedList();
     var data = shapeLayers.toGeoJSON();
     var data_str = JSON.stringify(data);
     dataObj = JSON.parse(data_str);

     str_coords = "Polygon ID,Latitude,Longitude\n";
     for(let i=0; i<dataObj.features.length; i++){
        if(checkedList[i]){
            for(let j=0; j<dataObj.features[i].geometry.coordinates[0].length; j++)
            {
                str_coords += 'polygon_' + (i+1) + ',';
                str_coords += dataObj.features[i].geometry.coordinates[0][j][0] + ',';
                str_coords += dataObj.features[i].geometry.coordinates[0][j][1] + '\n';
            }
        }
     }
     console.log(str_coords);

     convertedData = 'data:text/csv;charset=utf-8,' + encodeURI(str_coords);
      // Create export
      document.getElementById('export_csv').setAttribute('href', convertedData);
      document.getElementById('export_csv').setAttribute('download', 'Polygons Coordinates.csv');
      document.getElementById('export_csv').click();
}

function convert_shp()
{
	// (optional) set names for feature types and zipped folder
	var options = {
		folder: 'Polygons Shapefile',
		types: {
			polygon: 'Exported Polygons'
		}
	};
	var checkedList = getCheckedList();
    var data = shapeLayers.toGeoJSON();
    var data_str = JSON.stringify(data);
    console.log("data Stringified: "+data_str);
    var dataObj = JSON.parse(data_str);
    for(let i=0; i<dataObj.features.length; i++){
        if(!checkedList[i]){
            delete dataObj.features[i];
        }
    }
    data_str_after = JSON.stringify(dataObj);
    console.log("data Stringified after removing: "+data_str_after);
    console.log("Preparing to download shapefiles............");
	document.getElementById('export_shp').setAttribute('href', 'data:application/zip;base64,' + shpwrite.download(dataObj, options));
	console.log("Shapefiles downloaded!");
	//shapeLayers = null;

}

function checkbox_status(id){
	var selected_checkbox = document.getElementById(id);
	if (selected_checkbox.checked != true){
    	remove_results(id)
	} else{
		load_results(id);
		load_legend_img(id);
	}
}

function load_results(id){
    var top_eg = 31.578858103
    var left_eg = 30.0000002375
    var right_eg = 32.0107141575
    var bottom_eg = 30.6609431859

    // Extent for South Africa Data
    /*
    var top_sa = -22.137060
    var left_sa = 31.788092
    var right_sa = 26.406370
    var bottom_sa = -25.436225
    */

    var imageUrl = 'http://127.0.0.1:8000/static/model_results/'+id+'.png';
    //var imageBounds = [[-22.137060, 26.406370], [-25.436225, 31.788092]]; // for south africa data
    var imageBounds = [[top_eg, right_eg], [bottom_eg, left_eg]];
	image = L.imageOverlay(imageUrl, imageBounds);
	image.addTo(map);
	image.bringToFront();
	//map.setView(new L.LatLng(-23.475295543475283,29.17847128786904), 8); // for south africa data
	map.setView(new L.LatLng(31.047621381135954, 31.09472389830886), 9);
	listOfImages.push(image);
}

function remove_results(id){
	var checkedURL = 'http://127.0.0.1:8000/static/model_results/'+id+'.png';
	listOfImages.forEach(function(entry) {
    	if(checkedURL === entry["_url"]){
    		map.removeLayer(entry);
    		var index = listOfImages.indexOf(entry);
    		if (index > -1) {
    			listOfImages.splice(index, 1);
    		}
    	}
	});
	remove_legend_img(id);
}

function load_legend_img(id){
    document.getElementById("legend_img_src").src = 'http://127.0.0.1:8000/static/legend/'+id+'.png';
    listOfLegendImages.push(id);
}

function remove_legend_img(id){
	listOfLegendImages.forEach(function(entry) {
    	if(id === entry){
    		var index = listOfLegendImages.indexOf(entry);
    		if (index > -1) {
    			listOfLegendImages.splice(index, 1);
    		}
    	}
	});
    document.getElementById("legend_img_src").src = 'http://127.0.0.1:8000/static/legend/'+listOfLegendImages.at(-1)+'.png';
}

function display_results(){
	document.getElementById("results_div").style.display = 'block';
	document.getElementById("legend_div").style.display = 'block';
	document.getElementById("parameters_div").style.display = 'none';
	//map.setView(new L.LatLng(-23.475295543475283,29.17847128786904), 8); //for South Africa
	map.setView(new L.LatLng(31.047621381135954, 31.09472389830886), 9);
}

function hide_results(){
	document.getElementById("results_div").style.display = 'none';
	document.getElementById("legend_div").style.display = 'none';
	document.getElementById("parameters_div").style.display = 'block';

	var result_checkboxes = document.getElementsByName('result_checkbox');
    for (var checkbox of result_checkboxes) {
        checkbox.checked = false;
    }

    listOfImages.forEach(function(entry) {
    	map.removeLayer(entry);
	});

	document.getElementById("legend_img_src").src="";

    listOfLegendImages=[];
    listOfImages=[];

	map.setView([27.3, 30.8], 6);
}

window.onload=hide_results();




function clip_by_polygon()
{
	var csrftoken = $("[name=csrfmiddlewaretoken]").val();
	//preventDefault();
	$.ajax({
          type: "POST",
          url: "{% url 'run_clip_polygon' %}",
		  headers:{
			  "X-CSRFToken": csrftoken
		  },
          data: {
			'polygonCoordinates': polygonCoordinates,
            'name': name
          },
		  success: function (data) {         
            var clippedImageUrl = 'http://127.0.0.1:8000/static/polygons/'+name+'.png';
            var clippedImageBounds = [[Math.max.apply(null,all_lat), Math.min.apply(null, all_lon)], [Math.min.apply(null, all_lat), Math.max.apply(null, all_lon)]];
            var image = L.imageOverlay(clippedImageUrl, clippedImageBounds);
            image.addTo(map);
            layerControl.addOverlay(image, name);
            //editableLayers.addLayer(image);
            image.bringToFront();
            //listOfImages.push(image);
            all_lat = [];
            all_lon = [];

            //Create Table Contents
            const tr = document.createElement('tr');
            const td = document.createElement('td');
            const td_checkbox = document.createElement('td');
            const checkbox = document.createElement("INPUT");
            checkbox.setAttribute("type", "checkbox");
            checkbox.style.textAlign = "center";

            const text = document.createTextNode(name);
            td.appendChild(text);
            tr.appendChild(td);

            td_checkbox.appendChild(checkbox);
            tr.appendChild(td_checkbox);

            document.getElementById('polyTree').appendChild(tr);
                    
          },
          error: function (response) {
             // alert the error if any error occured
             console.log("Ajax Request Error");
             console.log(response);
          }
        });
}
/*$(function () {
    $("#dialog").dialog({
        autoOpen: false,
        modal: true,
        title: "Details",
        buttons:
                {
                    Close: function () {
                        //window.location.reload();
                        $(this).dialog('close');
                    }
                    
                }
    });});
*/

var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>
<div class="modal2"><h3>Please Wait, Loading...</h3>
</div>
{% csrf_token %}
<a id="clip_by_polygon" ></a>
<a id="export_shp"></a>
<a id="export_csv"></a>
</body>
</html>