<!DOCTYPE html>
<html>
<head>
	<title>خدماتنا</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div class="header">
	<div class="row">
	  <img class="col_header1" src="img/h_img1.png">
	  <img class="col_header2" src="img/h_img2.png">
	  <div class="col_header3">
		<p>جمهورية مصر العربية</p>
		<p>الهيئة العامة لتنمية الثروة السمكية</p>
	  </div>
	  <img class="col_header4" src="img/h_img3.png">
	</div>
</div>

<div class="row main">
  <div class="leftcolumn">
	<div class="card card-menu">
		<div class="row-menu">
		  <a href="login.html">
			<div class="col-menu col-menu-all">تسجيل الدخول</div>
		  </a>
		  <a href="contact_us.html">
			<div class="col-menu col-menu-all">اتصل بنا</div>
		  </a>
		  <a href="services.html">
			<div class="col-menu col-menu-all">خدماتنا</div>
		  </a>
		  <a href="e_library.html">
			<div class="col-menu col-menu-all">المكتبة الإلكترونية</div>
		  </a>
		  <a href="index.html">
			<div class="col-menu col-menu-last">الرئيسية</div>
		  </a>
		</div>
	</div>
	<div class="card card-map">
		<div>
			<h1>Services Page</h1>
		</div>
	</div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

</body>
</html>
